{% extends "layout.html" %}
{% block content %}

<!-- ADD A CITY -->
<section class="section">
    <div class="container">
        <div class="columns">    
            <div class="column is-offset-4 is-4">
                <form method="POST" action="">
                    {{ form1.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form1.name.label(class="form-control-label") }} <!-- field label -->

                            {% if form1.name.errors %}
                                {{ form1.name (class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form1.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form1.name (class="form-control form-control-lg") }} <!-- field itself -->
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form1.submit1(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- city boxes -->
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                {% for weather in weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ weather.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ weather.temperature }}° C</span>
                                    <br> {{ weather.description }}
                                </p>
                            </div>
                        </div>
                        <div class="media-right">
                            <a href="{{ url_for('delete_city', name=weather.city) }}"> <!-- link to the delete route, passes in city name -->
                                <button class="delete"></button>
                            </a>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock content%}