<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How's the Weather?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    How's the Weather?
                </h1>
            </div>
        </div>
    </section>

    <div class="container">
        
        <div class="row"> 
            <div class="col-md-4"></div>
                <!-- function to get and output flashed messages that are sent to this template -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    <!-- if messages is not empty = there are flashed messages to display-->
                    {% if messages %}
                        <!-- get two values from each message -->
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} col-lg-4" role="alert"> <!-- category = 'success' for registration-->
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- content block, allows child templates to override with data that they send in-->
                <!--{% block content %}{% endblock %}-->
            </div>
        </div>    
    </div>
    
    <section class="section">
        <div class="container">
            <div class="columns">    
                <div class="column is-offset-4 is-4">
                    <form method="POST" action="">
                        {{ form1.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form1.name.label(class="form-control-label") }} <!-- field label -->

                                {% if form1.name.errors %}
                                    {{ form1.name (class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form1.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form1.name (class="form-control form-control-lg") }} <!-- field itself -->
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form1.submit1(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">    
                <div class="column is-offset-4 is-4">
                    <form method="POST" action="">
                        {{ form2.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form2.name.label(class="form-control-label") }} <!-- field label -->

                                {% if form2.name.errors %}
                                    {{ form2.name (class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form2.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form2.name (class="form-control form-control-lg") }} <!-- field itself -->
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form2.submit2(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section class="section">
        <div class="container">
            <div class="columns">    
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="add" type="text" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">    
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="delete" type="text" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Delete City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
-->

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° C</span>
                                        <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>